::selection{
    background : #222;
    color : white;
}
.blog-post-container{
    width : 50%;
    margin : 0 auto;
    h1{
        font-family : 'Montserrat' , sans-serif;
        font-size : 40px;
        font-weight : 800;
        color : rgba(22,22,22,.8);
    }
    span{
        font-family : "PT Mono" , monospace;
        font-size : 16px;
    }
}
.blog-post-content{
    margin-top : 50px;
    font-family : Arial, Helvetica, sans-serif;
    h1{
        font-size : 32px;
        font-weight : 800;
    }
    span{
        font-size : 24px;
    }
    h3{
        font-size : 20px;
    }
    hr{
    }
    code{
        font-size : 16px;
    }
}