::selection{
    background : #0366d6;
    color : white;
}

@keyframes fadeIn{
    from {
        transform : translateY(-10px);
        opacity : 0;
    }
    to {
        transform : translateY(0px);
        opacity : 1;
    }
}
@keyframes scrolling-gradient {
    0% {
       background-position: 0;
    }
    100% {
       background-position: 40px;
    }
 }
@media (min-width : 1000px){
    .blog-post-container{
        width : 60%;
        min-height : 1000px;
        margin : 150px auto;
        border-radius : 10px;
        text-align: left;
        
        .post-title{
            padding : 30px; 
            border-bottom : 1px solid rgba(22,22,22,.4);
            h1{
            font-family : 'Montserrat' , sans-serif;
            font-size : 42px;
            font-weight : 800;
            color : rgba(22,22,22,1);
            margin-bottom : 3px;
            }
            span{
                text-align: right;
                font-family : "Roboto" , sans-serif;
                font-size : 16px;
            }
        }
    }
    .blog-post-content{
        width : 100%;
        padding : 10px 50px 10px 50px;
        margin : 50px auto;
        font-family : 'Noto Sans KR' , sans-serif;
        line-height: 24px;
        h1{
            font-family: 'Montserrat',sans-serif;
            font-size : 32px;
            font-weight : 800;
            
        }
        h2{
            font-family: 'Montserrat',sans-serif;
            font-size : 28px;
        }
        h3{
            font-family: 'Montserrat',sans-serif;
            margin-top : 30px;
            margin-left : 10px;
            font-size : 24px;
        }
        span{
            font-size : .9rem;
        }
        a{
            text-decoration: none;
            color : #f0bd;
            border-bottom : 1.5px solid black;
        }
        pre{
            width : 80%;
            margin : 10px auto;
            color : #000;
            code{
                word-wrap: break-word;
                font-size : .7rem;
            }
        }
        ul{
            margin : 0px 0px 30px 60px;
            font-size : .85rem;
        }
        p{
            font-size : 1rem;
            margin-top : 16px;
        }
        img{
            display: block;
            margin : auto;
        }        
    }
    .tags{
        .tag{
            padding : 1px 3px 1px 3px;
            margin : 3px;
            border-radius : 5px;
            font-size : 16px;
        }
        .tag-main{
            font-size : 16px;
            border-radius : 5px;
            margin-top : 5px;
            margin-right: 5px;
            padding : 1px 3px 1px 3px;
            background-color : rgba(22,22,22,.7);
            color : white;
        }
    }
}
@media (max-width : 1000px){
    .blog-post-container{
        width : 80%;
        margin : 200px auto 20px auto;
        .post-title{
            h1{
            font-family : 'Montserrat' , sans-serif;
            font-size : 32px;
            font-weight : 800;
            color : rgba(22,22,22,1);
            margin-bottom : 20px;
            text-align : center;
            }
            span{
                margin-left : 15px;
                font-family : "PT Mono" , monospace;
                font-size : 12px;
            }
            border-bottom : 1px solid rgba(22,22,22,.4);

        }
    }
    .blog-post-content{
        width : 95%;
        margin : 10px auto;
        font-family : 'Noto Sans KR' , sans-serif;
        padding-top : 30px;
        h1{
            font-size : 1.2rem;
            font-weight : 800;
        }
        span{
            font-size : 12px;
        }
        h3{
            font-size : 1rem;
        }
        hr{
        }
        pre{
            background : rgba(22,22,22,.8);
            color : white;
            code{
                font-size : 16px;
            }
        }
        img{
            display: block;
            margin : auto;
        }
        
    }
    .tags{
        .tag{
            padding : 1px 3px 1px 3px;
            margin : 3px;
            border-radius : 5px;
            font-size : 12px;
        }
        .tag-main{
            font-size : 16px;
            border-radius : 5px;
            margin-top : 5px;
            margin-right: 5px;
            padding : 1px 3px 1px 3px;
            background-color : rgba(22,22,22,.7);
            color : white;
        }
    }
}
.tags{
    display : flex;
    flex-direction : row;
    list-style : none;
    font-family : 'Inter' , sans-serif;
    font-weight : 400;
    margin-top : 10px;
    margin-left : 0px;

    .React{
        background-color : #222;
        color : #61BDFD;
    }
    .Gatsby{
        background-color: #663399;
        color : #fff;
    }
    .JS{
        background-color : #f0bd4f;
        color : rgba(50,51,48,1);
    }
}